<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="connection" connectionString="server=localhost,1433;user id=sa;password=YourStrong!Passw0rd"/>
		<add name="table" connectionString="english.dbo.words"/>
		<add name="column" connectionString="words"/>
		<add name="tmpTablesRootName" connectionString="edit"/>
	</connectionStrings>
</configuration>